logging:
  level:
    tech.guicam: trace

spring:
  datasource:
    username: root
    password: Inpt@2025
    url: jdbc:mysql://localhost:3306/db_soins_santes

  flyway:
    repair-on-migrate: true   # <-- ok

  jpa:
    show-sql: true

sql:
  init:
    mode: always

management:
  endpoints:
    web:
      exposure:
        include: "prometheus,health,info,metrics"

  endpoint:
    prometheus:
      enabled: true

  metrics:
    tags:
      application: ms-soins-sante

  server:
    port: 8080
